*{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(174,214,241,1) 0%); 
}
h1,h2{
    color:black;
}

nav ul{
    display: flex;
    justify-content: space-around;

}

nav ul li {
    display: inline-block;
    list-style-type: none;

}
